
<a routerLink="/products" >
  <i class="material-icons edit" >
    home
  </i>
</a>
  <mat-card-title>Alterar produto</mat-card-title>
  <form>
    <div *ngIf="product">
      <mat-form-field>
          <input matInput placeholder="Quantidade" [(ngModel)]="product.quantidade" name="quantidade">
      </mat-form-field>
      <mat-form-field>
          <input class="nome" matInput placeholder="Produto" [(ngModel)]="product.nome" name="produto">
      </mat-form-field>
    </div>
  </form>


<button class="botao" mat-raised-button (click) = "updateProduct()" color="primary">
  Atualizar
</button>

<button class="botao" mat-raised-button (click) = "cancel()" >
  Cancelar
</button>
