.titulo{
  font-size: 1.5rem;
  margin-left: 10px;
  margin-bottom: 2rem;
  margin-top: 20px;

}

.form{
  display: flex;
  flex-direction: column;
}
.button{
  margin: 20px 10px 10px 10px;
  margin-top: -10px;
 

}
.input{
  margin: 20px 10px 10px 10px;

}

