
  <mat-card>
    <mat-card-title>Excluir produto </mat-card-title>
    <form>
      <div *ngIf="product">
        <mat-form-field>
            <input matInput placeholder="Quantidade" [(ngModel)]="product.quantidade" name="quantidade">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Produto" [(ngModel)]="product.nome" name="produto">
        </mat-form-field>
      </div>
    </form>
  </mat-card>
  <button mat-raised-button (click) = "excluir(product)" color="warn" >
    Excluir
  </button>

  <button mat-raised-button (click) = "cancelar()" >
    Cancelar
  </button>
