button{
  margin: 30px 25px 0px 0px;
  margin-top: -10px;
  margin-bottom: 5px;

}

.titulo{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1em;
  margin-bottom: 1em;

}
.caixa{
  overflow-y: hidden;
  border-radius: 3px;

}
.buttonExcluir{
  margin-left: 100px;
}
