
  <mat-card>
    <mat-card-title>Excluir produto </mat-card-title>
    <form>
      <div *ngIf="product">
        <mat-form-field>
          <p>Quantidade</p>
            <input matInput placeholder="Quantidade" [(ngModel)]="product.quantidade" name="quantidade" disabled>
        </mat-form-field>
        <mat-form-field>
          <p>Produto</p>
            <input matInput placeholder="Produto" [(ngModel)]="product.nome" name="produto" disabled>
        </mat-form-field>
      </div>
    </form>
  </mat-card>
  <button mat-raised-button (click) = "excluir()" color="warn" routerLink="/products">
    Excluir
  </button>

  <button mat-raised-button (click) = "cancelar()" >
    Cancelar
  </button>
